flask==2.3.3
pandas==2.1.4
numpy==1.26.4
scikit-learn==1.6.1
nltk==3.8.1
tqdm==4.66.4
gunicorn==21.2.0
spacy==3.5.4
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.5.0/es_core_news_sm-3.5.0-py3-none-any.whl
